<h1> {{ title }} </h1>
<br>
<!-- Criação da tabela Lista de Alunos -->
<table class="table table-hover">
  <!-- Linha que contém os cabeçalhos de cada coluna -->
  <thead class="thead-light">  
    <tr>
      <th>Nome</th>
      <th>RU</th>
      <th>Curso</th>
      <th>Data de Nascimento</th>
    </tr>
  </thead>
  <!-- Corpo da tabela que contém uma estrutura de repetição FOR 
  Cria uma variável nesse escopo que vai gerar quantas linhas forem possíveis
  a depender da quantidade de alunos adicionados na array "alunos" -->
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <td> {{ aluno.nome }} </td>
      <td> {{ aluno.ru }} </td>
      <td> {{ aluno.curso }} </td>
      <td> {{ aluno.nasc }} </td>
    </tr>
  </tbody>
  
</table>